<!DOCTYPE html>
<html lang="<%= trans('langCode') %>">
	<head>
		<meta charset="utf-8">
		<title><%= trans('createEditSeats') %> - Admin</title>
		<link rel="stylesheet" type="text/css" href="/css/global.css">
		<link rel="stylesheet" type="text/css" href="/css/admin.css">
        <link rel="stylesheet" type="text/css" href="/css/seats.css">
		<link rel="stylesheet" type="text/css" href="/css/admin-edit-seats.css">
	</head>
	<body>
		<%- include("top-bar") %>

        <div id="seats-container"></div>
        <div id="seat-details-container">
			<div id="paste-seat-details"></div>
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
        <script src="/js/global.js"></script>
		<script src="/js/seats.js"></script>
		<script src="/js/admin-edit-seats.js"></script>
	</body>
</html>
